doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
        //- add favicon
    link(rel="shortcut icon", href="/images/favicon.png", type="image/x-icon")
  body
    block content
