body {
  padding: 10px 50px 50px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #B7B6C1;
  color: #464655;
  display: grid;
  justify-content: center;
  text-align: center;
}

a {
  color: #464655;
  text-decoration: none;
  font-weight: bold;
  transition: 0.4s;
}

a:hover {
  color: #818998;
}

a.button, input[type=submit], .prev, .next {
  color: white;
  background: #818998;
  font-family:Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  padding: 15px 15px 15px;
  font-size: 14px;
  border-radius: 0px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  /* border: 1px solid #464655; */
}

form a.button, input[type=submit] {
  margin-left: 140px;
  transition: 0.4s;
}

input[type=submit], a.button {
  border: 0;
}

a.button:hover, input[type=submit]:hover, .prev:hover, .next:hover {
  background-color: #464655;
  color: white;
}

p {
  margin: 20px auto;
}

ul {
  padding: 0;
  list-style-type: none;
  margin-bottom: 10px;
  line-height: 1.3em;
}

h2 {
  border-top: 2px solid #e7e7e7;
  padding-top: 20px;
}

table {
  /* border-left: 1px solid #464655; */
  border-bottom: 20px solid #a9adb8;
  max-width: max-content;
}

th {
  border-bottom: 20px solid #a9adb8;
  text-align: center;
  padding: 40px 50px;
  background-color: #818998;
  color: #ebe7e9;
  /* letter-spacing: 1px; */
  font-size: 16px;
  /* border: 1px solid #464655; */
}

tr {
  min-height: 50px;
  text-align: center;
}

tr:nth-child(n) {
  background: #dfdbde;
}

tr:nth-child(2n) {
  background: #ebe7e9;
}



td {
  padding: 10px 20px;
  /* border: 1px solid #464655; */
}

label {
  font-weight: bold;
  min-width: 130px;
  display: inline-block;
  transition: 0.4s;
}

input {
  padding: 10px;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  transition: 0.4s;
  /* border-radius: 2px; */
  border-color: #ebe7e9;
  /* border: 1px solid #464655; */
}

input[type=text] {
  margin-left: 7px;
  width: 300px;
}

.error {
  color: rgb(236, 15, 15);
}

/* input.delete {
  background-color: #464655;
}

input.delete:hover{
  background-color: #818998;
} */

.errorStack {
  /* background-color: red; */
  /* overflow: scroll; */
  font-size: 12px;
  word-break: break-all;
  margin: auto;
}

.errorStack::first-line {
  font-weight: bold;
  font-size: 16px;
}

.prev {
  background-color: #959ead;
}